# Specify Python version greater than 3.11, compatible with PyCaret
python_version >= 3.11, < 3.12

# PyCaret and its dependencies
pycaret

# Essential libraries
streamlit==1.25.0
pandas==2.1.2
numpy==1.26.0
